.person__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person__image{
    margin-right: auto;
    margin-left: auto;
}
.person__img{
    width: 72px;
}

.person__name {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #242d52;
    margin-top: 24px;
    margin-bottom: 19px;
}

.person__block_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #242d52;
    opacity: 0.5;
}