.button {
    border:none;
    border-radius: 22px;
    box-shadow: 0 15px 15px -10px #ff9f8e;
    background: #f3603c;
    padding: 12px 32px;
}

.button__title {
    font-weight: 700;
    font-size: 13px;
    color: #fcf6f5;
}